-// Example which will break when fuzzed against the included fixture
article
    header
        h1=title
        p: span.author=author
    section.body
        each para in data.paragraphs
            p=para